<!-- <p *ngFor="let movie of (movies | async)" >
  {{movie | json}}
</p> -->

<nb-tabset>
  <nb-tab tabTitle="Search" >
    <nb-card>
      <nb-card-header>
        Find movies, and add it to your collection...
      </nb-card-header>
      
      <nb-card-body>
        <omdbmv-omdb-movie-search></omdbmv-omdb-movie-search>
      </nb-card-body>
    </nb-card>
  </nb-tab>

  <nb-tab tabTitle="Manual Entry">
      <nb-card>
          <nb-card-body>
            <form [formGroup]="addForm">
              <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label">Title: </label>
                <div class="col-sm-10">
                  <input class="form-control"
                    type="text"
                    name="title"
                    id="title"
                    formControlName="title"
                    placeholder="Movie Title"
                    required>
                </div>
              </div>

              <div class="form-group row">
                <label for="year" class="col-sm-2 col-form-label">Year: </label>
                <div class="col-sm-10">
                  <input class="form-control"
                    type="text"
                    name="year"
                    id="year"
                    formControlName="year"
                    placeholder="Released Year"
                    required>
                </div>
              </div>

              <div class="form-group row">
                <label for="plot" class="col-sm-2 col-form-label">Plot: </label>
                <div class="col-sm-10">
                  <textarea class="form-control"
                    name="plot"
                    id="plot"
                    cols="30" rows="5"
                    formControlName="plot"
                    placeholder="Movie Plot"></textarea>
                </div>
              </div>

              <div class="form-group row">
                <label for="actors" class="col-sm-2 col-form-label">Actors: </label>
                <div class="col-sm-10">
                  <tag-input name="actors"
                    formControlName="actors"
                    [modelAsStrings]="true"
                    [separatorKeys]="[',']"
                    addOnBlur="true"
                    placeholder="Add actor"
                    secondaryPlaceholder="Add comma-seperated actors names"></tag-input>
                </div>
              </div>
  
              <div class="form-group row">
                <label for="genres" class="col-sm-2 col-form-label">Genres: </label>
                <div class="col-sm-10">
                  <tag-input name="genres"
                    formControlName="genre"
                    [modelAsStrings]="true"
                    [separatorKeys]="[',']"
                    addOnBlur="true"
                    placeholder="Add genre"
                    secondaryPlaceholder="Add comma-seperated genres"></tag-input>
                </div>
              </div>
            </form>
          </nb-card-body>

          <nb-card-footer class="text-right">
            <button class="btn btn-danger" (click)="frmReset()">Reset</button>
            <button class="btn btn-success" (click)="addMovie()">Add</button>
          </nb-card-footer>
      </nb-card>
  </nb-tab>
</nb-tabset>


