:host {
    /deep/ nb-reveal-card:not(.revealed) {
        .second-card-container {
            right: unset !important;
        }
    }

    nb-card-back {
        height: 100%;
        nb-card {
            height: 100%;
        }
    }
}