:host {
    display: flex;
    justify-content: center;
    width: 100%;
    .logo-wrapper {       
        display: inherit;
        font-size: 1.5em;

        .sidebar-toggle {
            margin-right: 1em;
            cursor: pointer;
        }

        .logo {
            span {
                font-weight: bold;
            }
        }
    }

    .fill-remaining {
        flex-grow: 1;
    }
}